/*
  Main Stylesheet
*/

* {
  box-sizing: border-box;
}

.thumbnail {
  width: 200px;
}

/*
  Modal Styles
*/

.modal--display {
  background-color: rgba(0, 0, 0, 0.7);
  visibility: visible;
  height: 100%;
  position: fixed;
  right: 0%;
  text-align: center;
  top: 0%;
  width: 100%;
}

.modal--hidden {
  visibility: hidden;
}

.modal__fullImage {
  width: 80%;
}
